streamlit==1.44.1
pip<25
setuptools<75
wheel

spacy==3.7.4
numpy==1.26.4
pandas==2.2.2
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.2.2
phonenumbers==8.13.39
tldextract==5.1.2
rapidfuzz==3.9.4
playwright==1.44.0
